$blue: #2f54eb;
$green: #52c41a;
$cyan: #1890ff;
$yellow: #fadb14;
$red: #f5222d;
$purple: #682feb;

$white-ter: #f0f0f0;
$white-bis: #f5f5f5;
$white: #fafafa;

$grey: #595959;
$grey-darker: #262626;
$grey-dark: #141414;

$primary: $blue;
$link: $cyan;

@import '../node_modules/bulma/bulma.sass';
